{% extends "base.html" %} {% block content %}
<div class="container h-100">
  <div class="row h-25">
    <div class="col-sm-12 d-flex justify-content-center align-items-center">
      <div class="logo">
        <div class="mt-5 d-flex justify-content-center align-item-center">
          <div>
            <i
              class="fa-solid fa-cart-shopping display-2 text-success mt-2"
              style="font-size: 52px"
            ></i>
          </div>
          <div>
            <h1 class="text-success" style="font-size: 52px">E-cart</h1>
          </div>
        </div>
        <div class="logo-text d-flex justify-content-center align-items-center">
          <p class="text-success" style="font-size: 15px">
            E for Easy to shopping
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div class="col-8">       
          <form method="post" enctype="multipart/form-data" class="django-form-reset">
            <div>
              {% csrf_token %} {{form.as_p}}
            </div>
            <div class=" formlink">
              <p class="text">You'll get a password reset link on your registered email address</p>
            </div>
            <div class="row justify-content-center mt-2 gap-1 button-reset-1 ">
              <div class="col-sm col-lg-auto ">
                <button class="btn btn-success  button-reset-1a w-100">Recover password</button>
              </div>
             
             <div class="col-sm col-lg-auto "> 
              <button class="btn btn-danger button-reset-1b w-100" href="{% url 'account_app:login' %}">Login</button>
            </div>
            </div>
          </form>     
      </div>
    </div>
  </div>
</div>

{% endblock %}